{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "importOrder": ["^@", "^~/(.*)$", "^[.]"],
    "importOrderSeparation": true
}
