@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.list {
    background-color: $color-surface;
    border: 1px solid $color-border;
    border-radius: $radius-md;
    overflow: hidden;
}

.loading {
    @include flex-center;
    padding: $spacing-3xl;
}

.loadingMore {
    @include flex-center;
    padding: $spacing-lg;
    border-top: 1px solid $color-border;
}
